<div class="enregistrement_succes">
    <h2>Your treatement has been successfully saved</h2>
    <div class="back_home_link">
        <%= link_to "Back to home", "http://localhost:4001/" %>
    </div>
</div>